{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title></title>
  </head>
  <body>
    {% block content %}
      <h2>login</h2>
      <div class="container">
        <div class="jumbotron">


      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}

        {% endfor %}<br>
        <button class ="btn btn-primary"type="submit">Login</button>
      </form>
    {% endblock %}

    Need an Account? <a href="{%url 'register'  %}">Sign In</a> <br><br>

     <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>

  </div>

</div>
  </body>
</html>


<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title></title>
  </head>
  <body>

      <h2>login</h2>
      <div class="container">
        <div class="jumbotron">


      <form method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="vUwJBJ7gWe2lKNFc8vworSvrk9T6lIUWPMCz3HmijMDjntn5BIWflbQiG302whEh">

          {% csrf_token %}


          <! <p>
            <label for="id_username">Username:</label><br>
            <input type="text" name="username" autofocus required id="id_username"> -->

<!--
            <p>
              <label for="id_email">Email:</label><br>
              <input type="text" name="emial" autofocus required id="id_em">


          <p>
            <label for="id_password">Password:</label><br>
            <input type="password" name="password" required id="id_password">



        <br>
        <button class ="btn btn-primary"type="submit">Login</button>
      </form>


    Need an Account? <a href="/register/">Sign In</a> <br><br>

     <a href="/oauth/login/facebook/">Login with Facebook</a>

  </div>

</div>
  </body>
</html> -->
